#Extensions
*.aim
*.o
*.log
*.pdf
*.eps
*.png
*.gnp
*.pov
*.dat
*.cpx
*.cub
*.cube
*.tsv
*.gz
*.aux
*.bbl
*.toc
*.lof
*.lot
*.blg
*.out
*.bkp
*.user
*.x
*.a

#Except .tex files
!*.tex

#Except .png and .jpg images
!*.png
!*.jpg

#Trash and system files
*~
.DS_Store

#Directories
bin/*
bib/*
pres/*
taring/*
mathematica/*
Notas/
discuss/*
proc/*
outputs/*
src/test/*
src/bin/*
tex/*.*
arts/*
#specific files

